<?xml version="1.0"?>
<launch>

<master auto="start"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find mobile_robot)/urdf/mobile_robot.xacro'"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

 <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"></node>

<!-- Map server -->
  <arg name="map_file" default="$(find robot_slam)/maps/house_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

<!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 100"/>

<!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff"/>
    <param name="base_frame_id" value="robot_link"/>
    <param name="update_min_d" value="0.5"/>
    <param name="update_min_a" value="1.0"/>

    <param name="min_particles"             value="500"/>
    <param name="max_particles"             value="3000"/>
    <param name="kld_err"                   value="0.02"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.5"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="gui_publish_rate"          value="50.0"/>

    <param name="laser_max_range"           value="3.5"/>
    <param name="laser_max_beams"           value="180"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="laser_model_type"          value="likelihood_field"/>

    <param name="odom_alpha1"               value="0.1"/>
    <param name="odom_alpha2"               value="0.1"/>
    <param name="odom_alpha3"               value="0.1"/>
    <param name="odom_alpha4"               value="0.1"/>

  </node>
  
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />


<arg name="move_forward_only" default="false"/>

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find robot_slam)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_slam)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_slam)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_slam)/param/global_costmap_params.yaml" command="load" />
    <!--rosparam file="$(find robot_slam)/param/base_local_planner_params.yaml" command="load" /-->
<rosparam file="$(find robot_slam)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find robot_slam)/param/dwa_local_planner_params.yaml" command="load" />
    
    <!--remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <remap from="scan" to="mobile_robot/laser/scan"/-->
    
<param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />

  </node>

<node pkg="rviz" type="rviz" name="rviz" required="true"
    args="-d $(find rain_bot_description)/rviz/amcl.rviz"/>

</launch>


