<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="scara_link" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link
    name="scara_link">
    <inertial>
      <origin
        xyz="0.039928 6.06729018065629E-20 0.00095"
        rpy="0 0 0" />
      <mass
        value="0.0045162" />
      <inertia
        ixx="2.1323E-07"
        ixy="8.0728E-23"
        ixz="-2.45309999999995E-25"
        iyy="3.7152E-06"
        iyz="1.28921372739805E-23"
        izz="3.9257E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://scara_link/meshes/scara_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://scara_link/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://scara_link/meshes/scara_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
